body {
    background-color: rgb(72, 64, 90);
}

.png {
    height: 3em;
    width: 3em;
    background-color: rgba(0, 0, 0, 0);
}

#settings {
    display: none;
}

#anime-title {
    display: inline-block;
    width: auto;
    text-align: center;
    margin: auto;
    background-color: black;
}

#song-title {
    display: inline-block;
    width: auto;
    text-align: center;
    margin: auto;
    background-color: black;
}

.titles {
    background-color: rgba(0, 0, 0, 0);
}