body {
    background-color: rgb(72, 64, 90);
}

.png {
    height: 3em;
    width: 3em;
    background-color: rgba(0, 0, 0, 0);
}

#settings {
    display: none;
}

#anime-title {
    display: none;
    /* width: auto; */
    /* text-align: center; */
    /* margin: auto; */
    /* background-color: black; */
}

#song-title {
    display: none;
    /* width: auto; */
    /* text-align: center; */
    /* margin: auto; */
    /* background-color: black; */
}

.titles {
    background-color: rgba(0, 0, 0, 0);
}

#progress-bar {
    background-color: gray;
    display: inline-block;
    width: 245px;
    height: 5px;
}

#progress {
    background-color: lightskyblue;
    width: 0px;
    left: 0px;
    position: relative;
    height: 5px;
}

#playhead {
    background-color: black;
    display: block;
    position: relative;
    border-radius: 50%;
    width: 5px;
    height: 5px;
}